---
import { Font, Image } from "astro:assets";
import Asteroide from "@assets/asteroide.svg";
import Meteor from "@assets/Meteors.png";
import Sala from "@assets/Sala_de_comando.png";
import Apod from "@components/Apod.astro";
import Base from "@layouts/Base.astro";

export const prerender = true;
---

<Base title="Home">
  <Font cssVariable="--font-title" preload slot="head" />

  <section
    class="mb-50 flex flex-col items-center justify-center gap-15 md:flex-row lg:gap-52"
  >
    <div class="flex flex-col gap-5 md:max-w-xs lg:w-min">
      <h2 class="font-bold text-yellow-200">Jogo 2D</h2>
      <h1 class="text-3xl font-bold md:text-4xl lg:text-8xl">
        <span class="text-white">Project</span>
        <span class="text-yellow-300">Sideralis</span>
      </h1>
      <span class="text-justify text-white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
        modi, quos maxime deserunt ipsa quam sequi ullam! Perferendis veniam
        ullam aliquam explicabo sint nobis ad!
      </span>
      <a
        class="w-fit cursor-pointer rounded-md bg-pink-400 px-4 py-2 opacity-50"
        href="/game">Jogue agora!</a
      >
    </div>
    <Asteroide class="hidden h-min w-min md:block md:w-xs lg:w-xl" />
  </section>

  <section class="flex flex-col items-center gap-15 md:flex-row">
    <Image
      src={Sala}
      alt="Placeholder Image"
      class="pixelated w-full"
      layout="constrained"
    />
    <div>
      <h2 class="mb-6 border-l-8 pl-2 text-3xl text-white">
        Conheça agora nosso jogo
      </h2>
      <span class="text-justify text-white">
        Em nosso jogo, sua missão é proteger a Terra de Objetos Próximos à Terra.
        Use seu arsenal para neutralizar ameaças ao planeta.
      </span>
    </div>
  </section>

  <section class="flex flex-col items-center gap-15 md:flex-row-reverse">
    <Image
      src={Meteor}
      alt="Placeholder Image"
      class="pixelated w-full"
      layout="constrained"
    />
    <div>
      <h2 class="mb-6 border-l-8 pl-2 text-3xl text-white">
        Aprenda sobre NEOs
      </h2>
      <span class="text-justify text-white">
        Objetos Próximos à Terra (NEOs) são asteroides e cometas que orbitam o Sol e se aproximam da órbita da Terra.
        Esses corpos celestes vêm do início do sistema solar, oferecendo informações preciosas sobre sua formação e evolução.
        Embora a maioria dos NEOs seja inofensiva, monitorá-los é muito importante para identificar perigos e desenvolver estratégias de defesa.
        Compreender os NEOs permite pesquisas e futuras missões de exploração espacial.
      </span>
    </div>
  </section>

  <span class="mt-20"></span>

  <Apod server:defer />
</Base>

<style>
  h1,
  h2 {
    font-family: var(--font-title);
  }

  .pixelated {
    image-rendering: pixelated;
  }
</style>
