---
import AsteroidTable from "@components/AsteroidTable.astro";
import Base from "@layouts/Base.astro";

export const prerender = true;
---

<Base title="Table">
  <h1 class="mb-7 text-center text-2xl font-bold text-white md:text-3xl">
    Tabela de Asteróides
  </h1> 
  <AsteroidTable server:defer />
</Base>

<style>
  h1 {
    font-family: var(--font-title);
  }
</style>
