---
import GameCanvas from "@components/Game.astro";
import Base from "@layouts/Base.astro";
---

<Base title="Game">
  <h1 class="mx-auto w-max text-4xl text-white">Meteor Madness</h1>
  <GameCanvas />

  <div class="h-100"></div>
</Base>

<style>
  h1 {
    font-family: var(--font-title);
  }
</style>
