---
import GameCanvas from "@components/Game.astro";
import Base from "@layouts/Base.astro";

if (import.meta.env.DEV) {
  Astro.response.headers.append(
    "permissions-policy",
    "autoplay=(), cross-origin-isolated=(), fullscreen=(), gamepad=()"
  );
}

export const prerender = true;
---

<Base title="Game">
  <h1 class="mx-auto w-max text-4xl text-white">Project: Sideralis</h1>
  <GameCanvas />

  <div class="h-100"></div>
</Base>

<style>
  h1 {
    font-family: var(--font-title);
  }
</style>

<style is:global>
  main {
    max-width: 100%;
  }
</style>
