---
import Base from "@layouts/Base.astro";
---

<Base title="Game">
  <h1 class="text-white text-4xl mx-auto w-max">Meteor Madness</h1>
</Base>

<style>
  h1 {
    font-family: var(--font-title);
  }
</style>
