---
import Asteroide from "@assets/asteroide.svg";
import Base from "@/layouts/Base.astro";
---

<Base title="Home">
  <section class="flex items-center justify-around lg:flex-row flex-col">
    <div class="flex flex-col max-w-3xs">
      <h3 class="font-bold text-yellow-200 mb-5">Jogo 2D</h3>
      <h1 class="lg:text-8xl text-2xl font-bold mb-5">
        <span class="text-white">Meteor</span>
        <span class="text-yellow-300">Madness</span>
      </h1>
      <span class="text-white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod quidem
        minus sed in consequatur atque!
      </span>
    </div>
    <Asteroide class="" />
  </section>
</Base>
