---
const { title, descricao, Imagem } = Astro.props;
---
  <div class="bg-[#1B1C67] rounded-2xl p-6 shadow-md opacity-50 hover:bg-[#FD65AC] hover:shadow-xl hover:-translate-y-1 transition-all duration-300 flex items-center gap-4 font-sans">
    <div class="card-content">
      <h2 class="title text-white">{title}</h2>
      <span class="descricao gap-6 text-justify text-white">{descricao}</span>
      <br />
    </div>
    <Imagem class="mx-auto h-50 w-50 object-contain flex-shrink-0" />
  </div>

