---
const { title, descricao, Imagem} = Astro.props;
---
  <div class="bg-[#1B1C67]/50 rounded-2xl p-6 shadow-md hover:bg-[#FD65AC]/50 hover:shadow-xl hover:-translate-y-1 transition-all duration-300 flex justify-between items-center gap-4 font-sans">
    <div class="card-content bg-opacity-100">
      <h2 class="title text-white">{title}</h2>
      <span class="descricao gap-6 text-justify text-white">{descricao}</span>
      <br />
    </div>
    <Imagem class="mx-auto h-1/2 w-1/2 object-contain flex-shrink-0" />
  </div>

