---
import { Image } from "astro:assets";

import Godot from "@assets/QMeteor/QMeteor.png";

export const prerender = true;
---

<section class="mx-auto aspect-video w-fit md:min-w-[650px]">
  <canvas id="canvas" class="aspect-video md:min-w-[650px]">
    Your browser does not support the canvas tag.
  </canvas>

  <noscript>Your browser does not support JavaScript.</noscript>

  <div id="status" class="h-full w-full">
    <progress id="status-progress" class="mx-auto mt-auto mb-[10%]"></progress>
    <Image
      id="status-splash"
      class="show-image--true use-filter--true h-full w-full"
      src={Godot}
      alt="Godot Engine Logo"
    />
    <div id="status-notice" class=""></div>
  </div>
</section>

<script src="@assets/QMeteor/game" />

<style>
  section,
  div#status {
    display: grid;
    place-content: center;

    > * {
      grid-area: 1 / 1;
    }
  }

  #status-progress {
    margin-top: auto;
  }

  div#status > img {
    width: 100%;
    height: 100%;
  }
</style>

<style>
  #canvas {
    display: block;
  }

  #canvas:focus {
    outline: none;
  }

  #status {
    background-color: #242424;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
  }

  #status-splash {
  }

  #status-splash.show-image--false {
    display: none;
  }

  #status-splash.fullsize--true {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  #status-splash.use-filter--false {
    image-rendering: pixelated;
  }

  #status-progress {
    width: 80%;
    margin-inline: auto;
  }

  #status-notice {
    background-color: #5b3943;
    border-radius: 0.5rem;
    border: 1px solid #9b3943;
    color: #e0e0e0;
    font-family: "Noto Sans", "Droid Sans", Arial, sans-serif;
    line-height: 1.3;
    margin: 0 2rem;
    overflow: hidden;
    padding: 1rem;
    text-align: center;
    z-index: 1;
  }
</style>
