---
const pages = {
  "/": "Home",
  "/game": "Game",
  "/about": "About"
};

import Logo from "@/assets/logo_website.svg";
const current = Astro.url.pathname;
---

<nav
  class="flex items-center justify-between px-15 py-4 gap-3 text-white border-b border-gray-500 mb-15 flex-col md:flex-row"
>
  <div class="flex gap-2 items-center">
    <Logo class="mx-auto h-1/2 flex-shrink-0 object-contain" />
    <p class="font-bold text-3xl">Sideralis</p>
  </div>

  <ul class="flex list-none gap-4">
    {
      Object.entries(pages).map(([path, page]) =>
        path === current ? (
          <li class="rounded-full border-2 border-gray-400 px-8 py-2">{page}</li>
        ) : (
          <a href={path}>
            <li class="border-2 border-transparent px-8 py-2">{page}</li>
          </a>
        )
      )
    }
  </ul>
</nav>

<style>
  nav {
  }
</style>
