---
import Footer from "@components/Footer.astro";
import NavBar from "@components/NavBar.astro";
import Layout from "./Layout.astro";

interface Props {
  title: string;
  description?: string;
}
---

<Layout {...Astro.props}>
  <slot name="head" slot="head" />

  <NavBar />
  <main class="container mx-auto px-5">
    <slot />
  </main>
  <Footer />
</Layout>
