---
import "@styles/global.css";

interface Props {
  title: string;
  description?: string;
}

import { getImage } from "astro:assets";
import Backdrop from "@assets/backdrop.jpg";
import Head from "@components/Head.astro";

const backgroundImage = (
  await getImage({
    src: Backdrop
  })
).src;
---

<!doctype html>
<html lang="en" class="h-screen">
  <Head {...Astro.props}>
    <slot name="head" />
  </Head>

  <body class="bg-purple-950">
    <slot />
  </body>
</html>

<style define:vars={{backgroundImage: `url("${backgroundImage}")`}}>
  * {
    font-family: var(--font-text);
  }

  body {
    background-image: var(--backgroundImage);
  }
</style>
