---
import "../styles/global.css";
import Head from "@components/Head.astro";

interface Props {
  title: string;
  description?: string;
}
---

<!doctype html>
<html lang="en">
  <Head {...Astro.props}>
    <slot name="head" />
  </Head>

  <body class="bg-purple-950 w-screen h-screen">

    <slot />
  </body>
</html>

<style>
  * {
    font-family: var(--font-text);
  }
</style>

